<div class="newCard">
<h2 class="card-header">{{category.type}}</h2>
<p>Seller: {{user.username}}<br>
Price: $ {{cost}}<br></p>
<a href="/chart/{{id}}"> <button class="chart"> Chart history </button> </a>
            

    