<div class="newCard">
<h2 class="card-header">{{category.type}}</h2>
<p>
    Price  : $ {{cost}}
    <br>
    Seller : {{user.username}}
</p>
<a href="/chart/{{id}}"> <button class="chart"> Chart history </button> </a>
            

    