<a id="sellItem-back" class="sellItem-back" href="javascript:history.back()">⬅ Back</a>
    <br>
<h2 class="productBuy-header">
      Item  : {{product.category.type}}
</h2>
<div>
      Price : ${{product.cost}}
</div>