<article class="productCard">
    <a href="product/{{id}}">
    <div >
      <h4>          
        this is a partial
        {{product}}
      </h4>
    <div>
        {{cost}}
    </div>
    </div>
    </a>
</article>