   
    <div class="new card">
            <h2>{{category.type}}</h2>
            {{!-- {{#if (user_owns req.session.user_id user_id)}}
            <h2>It is owned by this user</h2>
            {{/if}} --}}
            <p>Price: ${{cost}}</p>
            
    