<article class="productCard">
    <a href="product/{{id}}">
    <div class="card">
            <h2>{{category.type}}</h2>
            <p>Price: ${{cost}}</p>
            <p>Buy Now</p>
    </div>
    </a>
</article>