<form id="sellItem">
    <input type="hidden" id="product_id" name="product_id" value="{{id}}">
    <h3>{{category.type}}</h3>
      {{#if forSale}}
      <h4>This item is currently up for sale</h4>
      {{else}}
      <h4>This item isn't currently up for sale</h4>
      {{/if}}
      <label for="newItemPrice">How much are you selling this for: $</label>
      <input id="newItemPrice" name="newItemPrice" type="number" min="1" value="{{cost}}"/>
    <label for="sellBtn">Put This Item up for sale</label>
    <button id="sellBtn" type="submit" >Sell!</button>
</form>