<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/css/style.css' />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>

        <a href='/'> <img class='logo' src='logofilename' /> </a>
        <a id='wallet' href='wallet'>
          $<span id='currentMoney'>20</span>
        </a>
        <a href='/'><h1>(name)</h1></a>

        {{#if logged_in}}
          <a href='../sell'> Sell </a>
          <a href='/'> <button> Logout </button> </a>
        {{else}}
          <a href='../login'> <button> Login </button> </a>
          <a href='../signup'> <button> Sign Up </button> </a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
  </body>
</html>