<div class="chart-main-container">
    <a id="sellItem-back" href="javascript:history.back()">⬅ Back</a>
    <br>
    <h1 class="chartHead"><u>Historical Sales</u><br>{{product.category.type}}</h1>
<input type="hidden" id="product_id" name="product_id" value="{{product.id}}">
<div class="chart-container">
 <canvas id="myChart" class="myChart"></canvas>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/javaScript/returnHistory.js"></script>