<div class="login-signup" id="form-login">
  <form id="loginForm">
<h1>Account - Login</h1>
    <div class="form-group">
      <label for="username" class="text-color">Username :&nbsp;&nbsp;</label>
      <div class="username">
        <input id="loginUserName" type="text" placeholder="username" />
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="text-color">Password :&nbsp;&nbsp;</label>
      <div class="password">
        <input id="loginPassword" type="password" placeholder="password" />
      </div>
    </div>
    <div>
      <button type="submit" id="btn-sign" class="btn btn-color">Login</button>
    </div>
    <div class="btn-group">
      <p>Don't have an account?</p>&nbsp;<a href="/signUp" class="linkLogin">Sign Up Here</a>

      
    </div>
  </form>
</div>

<script src="./javaScript/login.js"></script>