<h3>Solo product route</h3>
<article class="productCard">
  <div >
    <h2>
      {{product.category.type}}
    </h2>
    <div>
        {{product.cost}}
    </div>
    <input type="hidden" id="product_id" name="product_id" value="{{product.id}}">
    <input type="hidden" id="cost" name="cost" value="{{product.cost}}">
    <h3>Need buy button here. api funct for it too</h3>
    <h3>if statement to check against wallet amount so the user cant attempt to buy it</h3>
    <button id="buyBtn">Buy it</button>
  </div>
</article>
<script src="/javascript/buy.js"></script>