<h2>Items currently for sale!</h2>

  {{#if products.length}}
    <section class="container">
      {{#each products as |product|}}
        {{#if product.forSale}}
          {{> productCard}}
        {{/if}}
      {{/each}}
    </section>
    {{else}}
    <h2>No Items currently for sale!</h2>
  {{/if}}
    
