<div>
  <form>
    <label for='itemName'>What are you selling:</label>
    <input id='itemName' name='itemName' type='text' />
    <label for='newItemPrice'>How much are you selling this for: $</label>
    <input id='newItemPrice' name='newItemPrice' type='number' />
  </form>
</div>