<div>
 
  {{#if product}}
    {{#each product}}
      <a href="sellItem/{{id}}">    
        {{>productCard}}
        <p>Sell this!</p>
        </div>
      </a>
    {{/each}}
    
  {{else}}
    <h2>You have no products to sell</h2>
  {{/if}}
 
</div> 
