<div class="createNewItems">
  <form>
    <div>
      <label for="newItemName"> Item Name </label>
      <input type="text" id="newItemName" name="newItemName" />
    </div>
    <div>
      <label for="newItemPrice"> How much will you sell this for? </label>
      <input type="number" id="newItemPrice" name="newItemPrice" />
    </div>
    <div>
      <button id="newItemCancel"> Cancel </button>
      <button type="submit" id="newItemSubmit"> Submit </button>
    </div>
  </form>
</div>

<script src="/javaScript/newSell.js"></script>