<div class="salesPage">
 
  {{#if product}}
    {{#each product}}
      <a href="sellItem/{{id}}">    
        {{>productCard}}
        <button>Sell this!</button>
        </div>
      </a>
    {{/each}}
    
  {{else}}
    <h2>You have no products to sell</h2>
  {{/if}}
 
</div> 
