<div class="salesPage">
 
  {{#if product}}
    {{#each product}}
          
        {{>productCard}}
        <a href="sellItem/{{id}}">
        <button>Sell this!</button>
        </a>
        </div>
    {{/each}}
    
  {{else}}
    <h2>You have no products to sell</h2>
  {{/if}}
 
</div> 
