<div class="createNewItems">
<form id="sellItem">
    <a id="sellItem-back" class="sellItem-back" href="javascript:history.back()">⬅ Back</a>
    <div class="form-group">
      <label for="newItemName">New Item Name :</label>
      <input type="text" id="newItemName" name="newItemName" />
    </div>
    <div class="form-group">
      <label for="newItemPrice">Selling Price : $ </label>
      <input type="number" id="newItemPrice" name="newItemPrice" />
    </div>
    <div class="form-group">
      <button class="btnSell" id="newItemCancel"> Cancel </button>
      <button class="btnSell" type="submit" id="newItemSubmit"> Submit </button>
    </div>
  </form>
</div>

<script src="/javaScript/newSell.js"></script>