<form id="sellItem">
  <a id="sellItem-back" class="sellItem-back" href="javascript:history.back()">⬅ Back</a>
    <input type="hidden" id="product_id" name="product_id" value="{{product.id}}">
    <h3>{{product.category.type}}</h3>
      {{#if product.forSale}}
      <h4>This item is currently up for sale</h4>
      {{else}}
      <h4>This item isn't currently up for sale</h4>
      {{/if}}
      <div class="form-group">
        <label for="newItemPrice">How much are you selling this for: </label>
        <input id="newItemPrice" name="newItemPrice" type="number" min="1" value="{{product.cost}}"/>
      </div>
      <div class="form-group">
        <label for="sellBtn">Put This Item up for sale</label>
        <button class="btnSell" type="submit">Save</button>
      </div>
</form>
<script src="/javaScript/sell.js"></script>