<h3>Wallet route</h3>

<h3> Top Up: </h3>
<form>
  <div class="form-group">
    <label for="cardNumber" class="text-color">
      How Much Would you like to top up:
    </label>
    <input id="cardNumber" type="number" placeholder="50" />
  </div>
  <div class="form-group">
    <label for="cardNumber" class="text-color">Card Number:</label>
    <input id="cardNumber" type="number" placeholder="0000000000000000" />
  </div>
  <div class="form-group">
    <button type="submit" id="topUpSubmit" class="btn btn-color">
      Confirm
    </button>
  </div>
</form>