/* header {
  width: 100%;
  background-color: #5289b5;
}
header nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
} */

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/*login*/
.form-group {
  font-weight: bold;
  margin-top: 2%;
}


#form-login, #form-signin{
  margin-top:20px;
  margin-left: 15px;
}

.text-color {
  color: #ffc107;
}

#btn-sign,
.btn-group {
  margin-top: 5px;
  margin-left: -5px;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  /* text-align: center;
  vertical-align: middle; */
  border: 1px solid transparent;
  font-size: 1rem;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  height: 40px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-group .btn-color{
  color:#212529;
  border-color: #ffc107;
  background-color: #ffc107;
}

#loginUserName,
#loginPassword,
#nameSignup,
#passwordSignup {
  display: block;
  width: 20%;
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

label {
  margin-top: 15px;
  display: inline-block;
  margin-bottom: 0.5rem;
  cursor: default;
  position: relative;
  width: 100%;
}

#topUpSubmit {
  width: 20%;
  height: 1%;
}

@media (min-width: 576px) {
  .username,
  .password {
    flex: 0 0 33.33%;
    max-width: 33033%;
  }
}

/*card*/

.container {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #3078b4;
}


.new{
  background-color: #3d48ac;
  width:220px;
  margin:14px;
  text-align: center;
  /* background-color: aqua; */
  height: 200px;
  margin-bottom: 15px;
  border-radius: 15px;
}

.new:hover{
  background-color: rgb(225, 237, 238);
  color: rgb(5, 21, 92);
  transform: scale(1.03);
  transition: all 1s ease;
}

.new h2{
  padding:10px;
}

.new p{
  padding: 10px;
  font-size: 15px;
}

.new a{
  background-color: rgb(49, 44, 44);
  color: white;
  padding: 10px 15px;
  /* display:block; */
  text-align: center;
  margin: 15px 40px;
  text-decoration: none;

}

/*Navbar*/
.techblog-nav {
  background-image: linear-gradient(rgb(9, 0, 128), rgba(0, 0, 0, 0.747));
}

.navbar-brand {
  font-family: 'Oswald', sans-serif;
  font-size: xx-large;
  text-shadow: 0px .5px #644420;
  color:#feae51;
}

.nav-item a{
  color:#feae51;
  text-decoration: none;
  font-size: larger;
  margin-right: 10px;
}
.navbar-brand:hover, .nav-item a:hover{
  color:#feae51;
  text-decoration: none;
}

.custom-toggler.navbar-toggler {
  border-color: #db2565;
  border-width: medium;
} 

header nav .name{
  font-size: 50px;
}

main {
  padding-top: 10rem;
  padding-bottom: 8rem;
  /* width: 100vw; */
}



a {
  text-decoration: none;
  color: inherit;
}

