/* global selector */
* {
	font-family: "Red Hat Display", sans-serif;
	font-size: 18px;
	font-weight: 400;
	transition: 500ms;
}

/* header */
body,
html {
	background-image: url(../images/Website-Background-scaled.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: -100;
}

h1 {
	font-size: 24px;
	font-weight: 900;
	letter-spacing: 5px;
}

header {
	width: 100vw;
	display: flex;
	flex-direction: column;
	background-color: black;
	margin-bottom: 2%;
}

.branding {
	display: flex;
	height: 130px;
	align-items: center;
	width: 90vw;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

.navbar-brand {
	flex: 1 30%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.navbar-brand-name {
	display: flex;
	justify-content: center;
	flex: 1;
	font-size: 40px;
	font-weight: bold;
	color: violet;
	letter-spacing: 5px;
	margin-right: 150px;
}

.logo {
	height: 100%;
	position: relative;
	position: left;
	background-color: none;
}

.navbar {
	width: 100%;
	height: 35px;
	text-align: -webkit-center;
}

.navbar ul {
	display: flex;
	width: 70%;
	height: 100%;
	align-items: center;
	font-size: 24px;
	color: white;
}

.nav-item {
	width: 33.33%;
}

.nav-link {
	font-weight: 500;
	font-size: 20px;
}

.nav-link:hover {
	color: violet;
	text-decoration: underline;
}

.nav-image {
	width: 50px;
	text-align: center;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px black solid;
	border-radius: 25px;
}

.nav-image:hover {
	font-size: 150%;
}

form {
	margin: 0 auto;
	width: 50%;
	border: 2px solid black;
	border-radius: 20px;
}

/* dashboard*/
.dashboard {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: fit-content;
	justify-content: space-evenly;
}
.dashboard-header {
	margin-bottom: 50px;
	font-weight: 900;
	font-size: 30px;
}

/* salesPage */
.salesPage {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: fit-content;
	justify-content: space-evenly;
	color: white;
	flex-direction: column;
	align-content: center;
}

#allAvailable {
	font-size: 30px;
	font-weight: 900;
	margin-bottom: 1%;
	color: black;
	text-decoration: underline;
	text-align: center;
}

.salesPage .container {
	display: flex;
	flex-wrap: wrap;
	width: 90vw;
	min-height: 215px;
	align-items: center;
	justify-content: center;
	flex: 1 0;
}

.salesPage .newCard {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(238 130 238 / 39%);
	width: 15%;
	height: 20vh;
	padding-bottom: 1%;
	border: 3px solid black;
	border-radius: 25px;
	transition: background-color 0.3s ease-in-out;
	padding-top: 1%;
	color: black;
	margin: 1%;
}

.salesPage .newCard:hover {
	background-color: rgba(0, 0, 0, 100%);
	color: violet;
}

.salesPage .newCard h2 {
	font-size: 24px;
	font-weight: 900;
	text-align: center;
}

.salesPage .newCard p {
	font-size: 14px;
	font-weight: 400;
}

.salesPage .newCard a {
	width: 80%;
	height: 2rem;
}

.newCard a button {
	width: 100%;
	height: 100%;
	border-radius: 20px;
	font-weight: 500;
	font-size: 14px;
}

.chart:hover {
	background-color: violet;
	color: black;
	font-size: 17px;
}

.btnBuy:hover {
	background-color: violet;
	color: black;
	font-size: 17px;
}

.btnSell {
	width: 25%;
	height: 5%;
	border-radius: 15px;
	font-weight: 500;
}

.btnSell:hover {
	background-color: violet;
	color: black;
	font-size: 17px;
}

.btnPrice:hover {
	background-color: violet;
	color: black;
	font-size: 17px;
}

/* wallet route */
.walletRoute {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.walletRoute h1 {
	font-size: 24px;
	margin-bottom: 5%;
}

.walletRoute h3 {
	font-size: 32px;
	font-weight: bold;
}

.walletRoute form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	padding: 25px;
}

.walletRoute .form-group {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	flex-direction: column;
	padding: 10px;
}

.walletRoute label {
	width: 50%;
	line-height: 1.5rem;
	text-align: center;
}

.walletRoute input {
	width: 40%;
	height: 2rem;
}

.walletRoute button {
	display: flex;
	width: 25%;
	justify-content: center;
	padding: 2%;
	border-radius: 20px;
}

.login-signup form {
	display: flex;
	height: 50%;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 50vw;
}

.login-signup .form-group {
	display: flex;
	height: 4%;
	width: 45vw;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.login-signup label {
	font-size: 15px;
	line-height: 1.5rem;
	text-align: center;
	font-weight: 500;
}

.login-signup input {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 2.5rem;
	text-align: center;
	border-radius: 10px;
	padding: 10px;
	margin-left: 5px;
}

.login-signup .btn-group {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-direction: row;
}
.login-signup .btn-group p {
	transition: none;
}

.login-signup .btn-group .linklogin:hover {
	text-decoration: underline;
}

.loginCont {
	display: flex;
	width: 25%;
}

.login-signup button {
	width: 150%;
	height: 2.3rem;
	border-radius: 20px;
}

.login-signup button:hover {
	background-color: violet;
}

.login-signup .btn-group a {
	font-size: 18px;
	font-weight: 400;
	transition: none;
}

.login-signup .btn-group a:hover {
	text-shadow: 0 0 black;
	text-decoration: underline;
}

.linkLogin:hover {
	text-decoration: underline;
}
/* buy page */
.productCard {
	border: 2px solid black;
	border-radius: 20px;
	width: 40%;
	margin: 0 auto;
	text-align: center;
	line-height: 2;
	padding: 20px;
}

.productBuy-header {
	font-size: 26px;
	font-weight: 500;
}

.productCard button {
	width: 25%;
	padding: 2%;
	border-radius: 20px;
}

/* sell page */
#sellItem {
	padding: 6px;
	line-height: 3;
}

.sellItem-back:hover {
	text-decoration: underline;
	text-shadow: 1 0 violet;
}

#sellItem h3 {
	text-align: center;
	font-size: 22px;
	font-weight: 900;
}
#sellItem h4 {
	text-align: center;
}

#sellItem input {
	border-radius: 10px;
	padding: 10px;
}

.salesHeader {
	margin-bottom: 1%;
	color: black;
	text-decoration: underline;
	font-weight: 700;
	text-align: center;
}

.salesText {
	margin-bottom: 15px;
	color: red;
	text-align: center;
	min-height: 215px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
}

/* Sales Chart Page */
.chartHead {
	text-align: center;
	margin-bottom: 2%;
	font-weight: 400;
	font-size: 18px;
}

.charthead u {
	font-weight: 900;
}

.chart-main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.chart-container {
	position: relative;
	height: 100px;
	width: 50vw;
	margin: 0 auto;
}

.myChart {
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 768px) {
	.navbar-brand-name {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: 15%;
		font-size: 20px;
		font-weight: bold;
		color: violet;
	}

	.login-signup form {
		width: 80%;
	}

	.login-signup label {
		font-size: 18px;
		line-height: 1.5rem;
		text-align: left;
		font-weight: 500;
	}

	.salesPage .newCard {
		width: 90%;
	}

	.navbar-brand {
		flex: 1 30%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.logo {
		height: 50%;
		display: flex;
		align-items: center;
	}

	.nav-link {
		font-weight: 500;
		font-size: 12px;
	}
	.login-signup .form-group {
		display: flex;
		height: 6%;
		width: 55vw;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.login-signup button {
		width: 150%;
		height: 2.3rem;
		border-radius: 20px;
	}
	.loginCont {
		display: flex;
		width: 50%;
	}

	.walletRoute form {
		width: 80vw;
	}

	.walletRoute h1 {
		font-size: 20px;
		margin-bottom: 5%;
	}

	.walletRoute input {
		width: 60%;
		height: 2rem;
	}

	.productCard {
		width: 80%;
		padding: 20px;
	}

	.productCard button {
		width: 50%;
		padding: 2%;
		border-radius: 20px;
	}

	#sellItem {
		width: 80%;
	}
}

@media screen and (max-width: 325px) {
	.salesPage .newCard {
		width: 80%;
	}

	.salesPage .newCard h2,
	#allAvailable,
	.nav-link {
		font-size: 18px;
	}

	.logo {
		height: 75%;
	}

	.login-signup input {
		width: 150%;
		height: 2rem;
		text-align: left;
		border-radius: 10px;
	}

	.login-signup label {
		font-size: 13px;
		line-height: 1.5rem;
		text-align: center;
		font-weight: 500;
	}

	.login-signup button {
		width: 150%;
		height: 2rem;
	}

	.navbar-brand-name {
		font-size: 20px;
	}
}
